<!DOCTYPE html>
<html lang="en">

<head>
    <title>Update</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../static/images/icons/update.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link rel="stylesheet" type="text/css" href="../static/css/log_util.css">
    <!--===============================================================================================-->
    <style>
        /* .a{
            margin-top: 100px;
        } */
    </style>
</head>

<body>
    <div class="container-fluid">
            <div class="limiter">
                    <div class="container-login100">
                        <div class="login100-more" style="background-image: url('../static/images/sing-01.jpg');"></div>
            
                        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                            <form action="/update1" method="POST" class="login100-form validate-form">
                                <span class="login100-form-title p-b-59">
                                    Update
                                </span>
            
                                <div class="wrap-input100 validate-input" data-validate="Name is required">
                                    <span class="label-input100">Full Name</span>
                                    <input class="input100" type="text" name="New_name" value='{{user["name"]}}' placeholder="Name...">
                                    <input type="hidden" name="user_id" value='{{user["id"]}}'>
                                    <span class="focus-input100"></span>
                                    <div style="color:red">{{error1}}</div>
                                </div>
            
                                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                                    <span class="label-input100">Email</span>
                                    <input class="input100" type="text" name="New_email"  value='{{user["email"]}}' placeholder="Email addess...">
                                    <input type="hidden" name="user_Email" value='{{user["email"]}}'>
                                    <span class="focus-input100"></span>
                                    <div style="color:red">{{error2}}</div>
                                </div>
                                <div class="wrap-input100 validate-input" data-validate = "password required">
                                        <span class="label-input100">password</span>
                                        <input class="input100" type="text" name="password"  value='{{user["password"]}}' placeholder="password">
                                        <input type="hidden" name="user_Email" value='{{user["email"]}}'>
                                        <span class="focus-input100"></span>
            
                                    </div>
            
                                <div class="wrap-input100 validate-input" data-validate="phone is required">
                                    <span class="label-input100">Phone Number</span>
                                    <input class="input100" type="tel" name="phone_number"  value='{{user["phone"]}}' placeholder="0303...">
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn ">
                                        <div class="login100-form-bgbtn"></div>
                                        <button class="login100-form-btn text-center">
                                            Update
                                        </button>
                                    </div>
                                </div>
                             </form>
                        </div>
    </div>




    <!--===============================================================================================-->
    <script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/bootstrap/js/popper.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/daterangepicker/moment.min.js"></script>
    <script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="../static/js/main.js"></script>

</body>

</html>